@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Łukasz Kawecki<br />
    tel: 508127074<br />
</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:kawec94@gmail.com">kawec94@gmail.com</a><br />
</address>